[submodule "lib/subprocess"]
	path = lib/subprocess
	url = https://github.com/benman64/subprocess
[submodule "lib/antlr4"]
	path = lib/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "lib/c-testsuite"]
	path = lib/c-testsuite
	url = https://github.com/c-testsuite/c-testsuite.git
[submodule "lib/opcodes-x86_64"]
	path = lib/opcodes-x86_64
	url = https://github.com/Tyulis/Opcodes.git
