[submodule "lib/subprocess"]
	path = lib/subprocess
	url = https://github.com/benman64/subprocess
[submodule "lib/antlr4"]
	path = lib/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "lib/c-testsuite"]
	path = lib/c-testsuite
	url = ssh://git@gitea.tyulis.fr:2222/gmignerot/c-testsuite.git
[submodule "lib/json-x86-64"]
	path = lib/json-x86-64
	url = https://github.com/astocko/json-x86-64
